<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
<div class="container-fluid text-center" align="center">
    <h1>Welcome to Admin Page</h1>
    <h2>
        <a class="h2" th:href="@{/user/userlar} ">Users CRUD</a>
    </h2>
<!--    <h2>-->
<!--        <a class="h2" th:href="@{/category/categorylist} ">Category CRUD</a>-->
<!--    </h2>-->
<!--    <h2>-->
<!--        <a class="h2" th:href="@{/book/booklist} ">Product CRUD</a>-->
<!--    </h2>-->
</div>
</body>
</html>